@using EF_Core.Models.DTOs.ResponseModels
@model CustomerResponsModel
@* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/addFood.css" /> *@
@{
    Layout = "~/Views/Shared/_SecondLayOut.cshtml";
}
    <div class="row">
        <div class="col-md-12">
            <h2>Update Profile</h2>
            <form asp-action="Edit">
                <div class="form-group">
                    <label for="FirstName">First Name</label>
                    <input for="FirstName" type="text" name="FirstName" id="FirstName" class="form-control" value="@Model.Data..Data.User.Name"/>
                </div>
                 <div class="form-group">
                    <label for="LastName">Last Name</label>
                    <input type="text" name="LastName" id="LastName" class="form-control" />
                </div>
                 <div class="form-group">
                    <label for="PhoneNumber">Phone Number</label>
                    <input type="number" name="PhoneNumber" id="phone" class="form-control" value="@Model..Data.User.PhoneNumber"/>
                </div>
                <div class="form-group">
                 <label for="Gender">Gender</label>
                 <select name="Gender" class="form-control">
                 <option value="none" disabled>--select gender--</option>
                 <option value="1">Male</option>
                 <option value="2" >Female</option>
                 <option value="3" >Others</option>
                 </select>
                 </div>
                 <div class="form-group">
                    <label for="NumberLine">Number Line</label>
                    <input type="number" name="NumberLine" id="PhoneNumber" class="form-control" value="@Model..Data.User.NumberLine"/>
                </div>
                 <div class="form-group">
                    <label for="Street">Street</label>
                    <input type="text" name="Street" id="Street" class="form-control" value="@Model..Data.User.Street"/>
                </div>
                 <div class="form-group">
                    <label for="State">State</label>
                    <input type="text" name="State" id="State" class="form-control" value="@Model..Data.User.State"/>
                </div>
                 <div class="form-group">
                    <label for="City">City</label>
                    <input type="text" name="City" id="City" class="form-control" value="@Model..Data.User.City"/>
                </div>
                 <div class="form-group">
                    <label for="Country">Country</label>
                    <input type="text" name="Country" id="Country" class="form-control" value="@Model..Data.User.Country"/>
                </div>
                 <div class="form-group">
                    <label for="PostalCode">Postal Code</label>
                    <input type="number" name="PostalCode" id="PostalCode" class="form-control" value="@Model..Data.User.PostalCode"/>
                </div>
                 <div class="form-group">
                    <label for="NextOfKin">Next Of Kin</label>
                    <input type="text" name="NextOfKin" id="NextOfKin" class="form-control" value="@Model.Data.NextOfKin"/>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

